.datatable {
    height: 500px;
    padding: 20px;

    .dataTableTitle {
        display: flex;
        justify-content: space-between;
        width: 100%;
        font-size: 24px;
        color: gray;
        margin-bottom: 10px;
        align-items: center;

        .link {
            text-decoration: none;
            color: green;
            font-size: 15px;
            font-weight: bold;
            border: 1px solid green;
            padding: 7px;
            border-radius: 5px;
            cursor: pointer;
        }
    }

    .cellWithImg{
        display: flex;
        align-items: center;

        .imgCell {
            height: 32px;
            width: 32px;
            object-fit: cover;
            margin-right: 20px;
            border-radius: 50%;
        }
    }

    .cellWithStatus {
        padding: 5px;
        border-radius: 5px;
        
        &.active {
            color: green;
            background-color: rgba(0,128,0,0.15);
        }

        &.hold {
            color: goldenrod;
            background-color: rgba(189,189,3,0.15);
        }

        &.passive {
            color: red;
            background-color: rgba(236, 12, 12, 0.3);
        }
    }

    .cellAction {
        display: flex;
        align-items: center;
        gap: 15px;

        .viewButton {
            padding: 2px 5px;
            border-radius: 5px;
            color: darkblue;
            border: 1px dotted rgb(35, 35, 228);
            cursor: pointer;
        }
        
        .deleteButton {
            padding: 2px 5px;
            border-radius: 5px;
            color: rgb(240, 71, 71);
            border: 1px dotted rgb(146, 8, 8);
            cursor: pointer;
        }
    }
}